

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 0 15px;
}

ul {
    list-style:none;
    padding-left:0;
}
li {
    margin-bottom:15px;/* à adapter */
}

.hidden {
    display: none;
} 

form {
	display: flex;
	flex-direction: column;
	margin:left;
	width: 60%;
}

h1 {
    color: blue;
}

#save-contact{
    width: 15%;
}